<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ADONET" value="System.Data.SqlClient" />
    <add key="Conexion" value="Data Source=10.128.10.57;Connect Timeout=0;UID=sa;pwd=SiFiAd1057;DataBase=" />
    <add key="DataBase" value="DbActivoFijo" />

    <add key="FtpRuta" value="ftp://10.128.10.19/ftpTesoreria/"/>
    <add key="FtpUser" value="Tesoreria" />
    <add key="FtpPass" value="FtpT3s0rer14" />
    <!--<add key="Oracle_Log" value="C:\PowerTAM\Servicio Web WCF\Oracle_Log\Oracle"/>-->

    <add key="CnnServer" value="10.128.10.19" />
    <add key="CnnBD" value="dbTesoreria" />
    <add key="CnnUser" value="sa" />
    <add key="CnnPwd" value="SiFiAd1019" />
  </appSettings>
</configuration>